/* body{
    color: blue;
}
h1{
    color: black;
}

p {
    color: brown;

}
#p2
{
    color: aquamarine;
}
.text-green{
    color: chartreuse;
} */
p{
    color: aqua;
}
h1{
    color: brown;
}
.v4{
    color: blue;
}
#text1-coler{
    font-size: 110px;
    text-decoration: underline ;
}